- semantic_form_for(@sample) do |f|
  - f.inputs do
    %li
      %input#set-coordinates{:type => "button",
      :data => {:object_name => 'sample'},
      :value => t('ymaps.set_coorinates', :default => "Set Coordinates")}
    = f.input :kind, :as => :radio, :collection => [SampleKind.new('auto')] + Ecomap::HasSampleKinds::KIND_INSTANCES
    = f.input :object_name
    = f.input :lng
    = f.input :lat
    = f.input :description
  - f.buttons do
    = f.commit_button
