%h2= @sample.to_s

.attribute
  %strong= "#{Sample.human_attribute_name 'kind'}:"
  = @sample.kind_instance.human_name
.attribute
  %strong= "#{Sample.human_attribute_name 'object_name'}:"
  = @sample.object_name
.attribute
  %strong= "#{Sample.human_attribute_name 'lng'}:"
  = @sample.lng
.attribute
  %strong= "#{Sample.human_attribute_name 'lat'}:"
  = @sample.lat
.attribute
  %strong= "#{Sample.human_attribute_name 'owner'}:"
  = @sample.owner
.attribute
  %strong= "#{Sample.human_attribute_name 'description'}:"
  %p.text= @sample.description