- title t(:index_title, :model => Sample.human_name)

.action_links
  = new_link(Sample)

= render 'shared/load_placemarks'
= render 'shared/yandex_map'

%table#scaffold
  %tr
    %th
    %th= Sample.human_attribute_name 'object_name'
    - 4.times do
      %th.object_link

  - @samples.each do |sample|
    %tr
      %td= link_to sample, "#!#{sample_path(sample)}",
          :class => 'load-data', :title => t('ymaps.load_data', :default => "Load data")
      %td{:class => "kind-#{sample.kind}"}= sample.object_name
      %td.object_link
        %a.find-on-map{:href => "#!#{sample_path(sample)}", :title => t('ymaps.find_on_map', :default => "Find on map"),
          :data => {:lat => sample.lat, :lng => sample.lng}}
          = image_tag "icons/22x22/find.png", :alt => t('ymaps.find_on_map', :default => "Find on map")
      %td.object_link
        = show_link(sample) do
          = image_tag "icons/22x22/show.png", :alt => t(:show_link)
      %td.object_link
        = edit_link(sample) do
          = image_tag "icons/22x22/edit.png", :alt => t(:edit_link)
      %td.object_link
        = destroy_link(sample) do
          = image_tag "icons/22x22/destroy.png", :alt => t(:destroy_link)

= render :partial => 'shared/pagination', :locals => {:collection => @sample}

#sample-data


