- title "Sample: #{@sample}"

.action_links
  = link_to t(:edit_link), edit_sample_path(@sample)
  \|
  = link_to t(:back_link), samples_path

= render 'shared/load_placemarks'
= render 'shared/yandex_map'
= render 'sample'