- title t('title.main', :default => "Main")

- content_for :head do
  = debug Ecomap::Application.yaml_config
  = debug Ecomap::Application.yaml_config.ymaps_api_key
  -# javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{Ecomap::Application.yaml_config.ymaps_api_key}", :cache => true
  = javascript_include_tag 'ecomap', :cache => true
#yandex-map.rounded-box
#data
  - form_tag '/', :method => :post do
    %p
      %a.load-points(href="#" data-ymaps-ml-url="#{Ecomap::Application.yaml_config.ymapsml_root}points.xml") Load Points
    %p
      %input#set-coordinates{:type => "button", :value => "Set Coordinates"}
    %p
      = label_tag "lng", "Longitude:"
      = text_field_tag "lng"
    %p
      = label_tag "lat", "Latitude:"
      = text_field_tag "lat"
  %ol#path
