#user-nav
  - if user_signed_in?
    %p
      = raw t('devise.signed_as', :default => "Signed as <strong>%{user}</strong>", :user => current_user)
    %p
      = link_to t('devise.edit', :default => "Edit user"), edit_user_registration_path
      = link_to t('devise.sign_out', :default => "Sign out"), destroy_user_session_path
  - else
    %p
      = link_to t('devise.sign_up', :default => "Sign up"), new_user_registration_path
      = link_to t('devise.sign_in', :default => "Sign in"), new_user_session_path
