- title t(:index_title, :model => User.human_name)

.action_links
  = link_to t(:new_link, :model => User.human_name), new_user_path

%table#scaffold
  %tr
    %th= User.human_attribute_name 'email'
    %th= User.human_attribute_name 'full_name'
    %th= User.human_attribute_name 'role'
    - 3.times do
      %th.object_link

  - @users.each do |user|
    %tr
      %td= mail_to(user.email_to, user.email, :encode => :javascript)
      %td= user.full_name
      %td= user.role_instance.human_name
      %td.object_link
        = link_to user, :title => t(:show_link) do
          = image_tag "icons/22x22/show.png", :alt => t(:show_link)
      %td.object_link
        = link_to edit_user_path(user), :title => t(:edit_link) do
          = image_tag "icons/22x22/edit.png", :alt => t(:edit_link)
      %td.object_link
        = link_to user, :confirm => t(:confirm_destroy_message), :method => :delete, :title => t(:destroy_link) do
          = image_tag "icons/22x22/destroy.png", :alt => t(:destroy_link)

= render :partial => 'shared/pagination', :locals => {:collection => @user}
