- title "User: #{@user}"

.action_links
  = edit_link @user
  \|
  = back_link User

.attribute
  %strong= "#{User.human_attribute_name 'email'}:"
  = mail_to @user.email_to, @user.email, :encode => :javascript
.attribute
  %strong= "#{User.human_attribute_name 'full_name'}:"
  = @user.full_name
.attribute
  %strong= "#{User.human_attribute_name 'info'}:"
  = @user.info
.attribute
  %strong= "#{User.human_attribute_name 'role'}:"
  = @user.role_instance.human_name


