- title "#{<%= class_name %>.human_name}: #{@<%= singular_table_name %>}"

.action_links
  = edit_link @<%= singular_table_name %>
  \|
  = back_link <%= class_name %>

<% for attribute in attributes -%>
.attribute
  %strong= "#{<%= class_name %>.human_attribute_name '<%= attribute.name %>'}:"
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>


