!!!
%html
  %head
    %title= (@page_title or "Untitled") + " : Ecomap"
    /[if IE]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      %nav.main
        %menu
          %li= link_to t('title.main', :default => "Main"), '/'
          - if can? :view_map, :all
            %li= link_to t('title.map', :default => "Map"), :controller => '/maps', :action => 'index'
          - if can? :index, User
            %li= link_to User.human_name(:count => 1, :default => "Users"), users_path
          - if can? :index, Sample
            %li= link_to Sample.human_name(:count => 1, :default => "Samples"), samples_path
      %section#middle
        %aside.rounded-box
          = render 'users/user_nav'
        %section#main.rounded-box
          - unless flash.empty?
            #flash-container
              - flash.each do |type, msg|
                %p{:class => "#{type}"}= raw(msg)
          %header
            %h1= @title or "Untitled"
          %article#content= content_for?(:content) ? yield(:content) : yield
      %footer
        = t('footer.created', :default => 'Created by')
        = mail_to raw(t('footer.email', :default => "Alexander Ulyanitsky <a.ulyanitsky@gmail.com>")),
                  t('footer.author', :default => "Alexander Ulyanitsky"), :encode => :javascript
        &copy; 2011
        - if user_signed_in?
          - unless @version_info.nil?
            #version-info
              - @version_info.each do |key, value|
                %div{:id => key}
                  = t(key.to_s, :scope => [:version_info], :default => key.to_s.humanize) + ': '
                  = raw(value)
